<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    </link>
    <!-- <script type="module" src="views/modules/app.js"></script> -->
    <title>Rijksmuseum</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<header>
    <nav>
        <h1>Discovering Art</h1>
        <a href="/KatsushikaHokusai" class="links">Katsushika Hokusai</a>
        <a href="/UtagawaKuniyoshi" class="links">Utagawa Kuniyoshi</a>
        <a href="/DiscoverArt" class="links">Japanese Art</a>
    </nav>
</header>

<div id="loaderContain" class="hidden">
    <div id="loader"></div>
</div>
<div class="error"></div>