<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"></link>
    <script type = "module" src="/modules/app.js"></script>
    <title>Rijksmuseum</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
</head>
  <body>
    <header>
        <nav> 
          <h1>Discovering Art</h1> 
          <a href="#hokusai" class ="links">Katsushika Hokusai</a>
          <a href="#kuniyoshi"class ="links">Utagawa Kuniyoshi</a>
          <a href="#home" class ="links">Japanese Art</a>
        </nav>
      </header>

      <div id="loaderContain" class="hidden"> 
        <div id="loader"></div>
      </div>
      <div class="error"></div>

   <main> 
    <section id="hokusai">    
      <ul></ul>
    </section>  

    <section id="kuniyoshi">  
      <ul></ul>
    </section>

    <section id="home">
        <article class="container"> 
          <img src="images/tsunami.jpeg">
          <article class="text"> 
          <h4>The place to discover art</h4>
          <h5>Don't forget to check out the highlighted artists Hokusai and Kuniyoshi at the top of this website!</h5>
          </article>
          <form> 
            <input type="search" placeholder="Search for artists..." id="searchField">
            <button type="submit" value="search" id="searchButton">
            </button>
          </form>
        </article> 

      <ul></ul>
    </section>
  </main>

  </body>
</html>