<%- include('./partials/head') %>


    <section id="home">
        <article class="container">
            <img src="/images/tsunami.jpeg">
            <article class="text">
                <h4>The place to discover art</h4>
                <h5>Don't forget to check out the highlighted artists Hokusai and Kuniyoshi at the top of this website!
                </h5>
            </article>
            <form>
                <input type="search" placeholder="Search for artists..." id="searchField">
                <button type="submit" value="search" id="searchButton">
                </button>
            </form>
        </article>
        <ul>

            <% data.forEach((searchResult)=> { %>
                <li>
                    <img src=<%=searchResult.webImage.url.slice(0, -3)+'=s1000' %> alt=<%= searchResult.title %>
                        >
                        <section>
                            <h2>
                                <%= searchResult.title %>
                            </h2>
                        </section>
                </li>

                <% }) %>
        </ul>
    </section>
    </main>